<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">MCourses</a>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://xsgames.co/randomusers/assets/images/favicon.png" alt="michael-thinh" class="user-avatar">
                        Michael Thịnh
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/courses/create">Add Course</a></li>
                        
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/me/stored/courses">My Courses</a></li>
                        <li><a class="dropdown-item" href="/me/stored/posts">My Posts</a></li>
                          <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>